<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Voyager</title>
    <link rel="stylesheet" href="../static/style.css">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Life Voyage">
    <meta property="og:url" content="https://lifevoyager.org/">
    <meta property="og:image" content="/static/images/voyageLogo_wBackg.png">
    <meta property="og:description" content="A communal journal where people anonymously share and rate their experiences. A wider sense of community is created without the popularity contest from other social media sites due to the anonymity!">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap" rel="stylesheet">
</head>
<body>
    <div id="background" background="../static/images/wave.png"></div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const background = document.getElementById('background');

            let currentX = 0;
            let oldMouseX = 0;
            let mouseX = 0;
            let diffX = 0;
            const scrollSpeed = 0.02; // Controls constant left scroll speed
            const easing = 0.001; // Controls how smoothly it follows the mouse

            // Update target Y position based on mouse movement
            window.addEventListener('mousemove', (e) => {
                mouseX = e.clientX;
            });

            function animate() {
                // Move left continuously
                diffX = oldMouseX - mouseX;
                oldMouseX = mouseX;

                currentX -= scrollSpeed;
                currentX -= diffX * easing;


                // Apply the new background position
                background.style.backgroundPosition = `${currentX}% 0%`;

                requestAnimationFrame(animate);
            }

            animate();
        });
    </script>
    <div class="container">
        <a class="header" href="/?page=1" >
            <img src="../static/images/voyageLogo.png" alt="Life Voyager Logo" class="logo">
            <h1>Life Voyager</h1>
        </a>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="card">
            <h2>Share an Experience!</h2>
            <form method="POST" action="{{ url_for('add_experience') }}"  enctype="multipart/form-data">
                <div class="star-rating">
                    <input type="radio" name="rating" value="5" id="5"><label for="5">★</label>
                    <input type="radio" name="rating" value="4" id="4"><label for="4">★</label>
                    <input type="radio" name="rating" value="3" id="3"><label for="3">★</label>
                    <input type="radio" name="rating" value="2" id="2"><label for="2">★</label>
                    <input type="radio" name="rating" value="1" id="1"><label for="1">★</label>
                    </div>

                <div class="form-group">
                    <label for="title">What'd you do?</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="description">Share some more</label>
                    <textarea id="description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="image">Upload an image!</label>
                    <input type="file" name="images" accept="image/*">
                </div>
                <button type="submit">Share it out!</button>
            </form>
        </div>

        <div class="spacer">
            <h2>Voyages</h2>
        </div>

        <div class="card">
            <form action="/search" method="get">
                <input type="text" name="search-bar" id="search-bar" placeholder="Search">
            </form>
        </div>

        {% for experience in experiences %}
            <div class="card">
                <div class="experience">
                    <div class = "experience-ui-and-text">
                        <h3>{{ experience.title }}</h3>
                        <div class="UI-in-experience">
                            <div class="star-rating-in-experience">
                                {% for i in range(5) %}
                                    {% if i < experience.rating|int %}
                                        <span class="filled">★</span>
                                    {% else %}
                                        <span class="unfilled">★</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="Like-counter-in-experience">
                                <a name="like_button" id="like_button_{{ experience._id }}" style="border:none;background-color:white;color:gray;font-size:1.5em;cursor:pointer;">
                                    🩶
                                </a>
                                <span id="likes_count_{{ experience._id }}">{{ experience.likes }}</span>
                                <script>
                                    document.getElementById("like_button_{{ experience._id }}").onclick = updateLikes_{{ experience._id }};
                                    function updateLikes_{{ experience._id }}() {


                                        fetch(`/toggle_like/{{ experience._id }}`, {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        }
                                        })
                                        .then(response => {
                                            data = response.json()
                                            .then(data => {
                                                document.getElementById("likes_count_{{ experience._id }}").innerText = data["likes"];
                                                document.getElementById("like_button_{{ experience._id }}").onclick = null;
                                                document.getElementById("like_button_{{ experience._id }}").innerText = "🧡";
                                            })
                                        })

                                    }
                                </script>
                            </div>
                        </div>
                            <p>{{ experience.description }}</p>               
                            <div class="date">{{ experience.date | format_date }}</div>
                    </div>
                    <div class = "experience-image">
                    {% if experience.image_id %}
                    <img src="{{ url_for('get_image', image_id=experience.image_id) }}" alt="Experience Image">
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        

        <div class="card-pages">
            <a  href="/?page=1">&#x226A;</a>
            {% if current_page-1 > 1 %}
                <a class="page" href="/?page={{current_page-1}}">&#8826;</a>
            {% else %}
                <a class="page" href="/?page=1">&#8826;</a>
            {% endif %}
            {% for i in range(1, page_count+1) %}
                {% if i == current_page %}
                    <a class="page currentPage" href="/?page={{i}}">{{i}}</a>
                {% else %}
                    <a class="page" href="/?page={{i}}">{{i}}</a>
                {% endif %}
            {% endfor %}
            {% if current_page+1 < page_count %}
                <a class="page" href="/?page={{current_page+1}}">&#8827;</a>
            {% else %}
                <a class="page" href="/?page={{page_count}}">&#8827;</a>
            {% endif %}
            <a class="page" href="/?page={{page_count}}">&#x226B;</a>
        </div>
    </div>
</body>
</html>