<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ether Experiences</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>My Experience Tracker</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="card">
            <h2>Share an Experience!</h2>
            <form method="POST" action="{{ url_for('add_experience') }}"  enctype="multipart/form-data">
                <div class="star-rating">
                    <input type="radio" name="rating" value="5" id="5"><label for="5">★</label>
                    <input type="radio" name="rating" value="4" id="4"><label for="4">★</label>
                    <input type="radio" name="rating" value="3" id="3"><label for="3">★</label>
                    <input type="radio" name="rating" value="2" id="2"><label for="2">★</label>
                    <input type="radio" name="rating" value="1" id="1"><label for="1">★</label>
                    </div>

                <div class="form-group">
                    <label for="title">What'd you do?</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="description">Share some more</label>
                    <textarea id="description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="image">Upload an image!</label>
                    <input type="file" name="images" accept="image/*">
                </div>
                <button type="submit">Save Experience</button>
            </form>
        </div>

        <div class="card">
            <h2>My Experiences</h2>
            {% for experience in experiences %}
                <div class="experience">
                    <div class="star-rating-in-experience">
                        {% for i in range(5) %}
                            {% if i < experience.rating|int %}
                                <span class="filled">★</span>
                            {% else %}
                                <span class="unfilled">★</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <h3>{{ experience.title }}</h3>
                    <div class="date">{{ experience.date | format_date }}</div>
                    <p>{{ experience.description }}</p>

                    {% if experience.image_id %}
                        <img src="{{ url_for('get_image', image_id=experience.image_id) }}" alt="Experience Image">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>